.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.env
**/.env
.idea/
.vscode/
.DS_Store
*.log
.env
*.env*

# Next.js
frontend/.next/
frontend/node_modules/
frontend/.env.local

# Python
*.pkl
trading_bot.log